<ion-content>
  <!--<div id="mySidebar" class="sidebar" [ngClass]="{'openNav1': openNav==true, 'closeNav1': closeNav==true}" >
    <a href="javascript:void(0)" class="closebtn" onclick="close()">&times;</a>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
  </div>
  
  <div id="main">
    <button class="openbtn" onclick="open()">&#9776; Open Sidebar</button>
    <h2>Collapsed Sidebar</h2>
    <p>Content...</p>
  </div>-->
  <div class="menu">
    <div class="equipo">
      <div class="titulo">
        <div class="h1">
          <h1>TITULARES</h1>
        </div>
      </div>
      <div class="jugadores">
        <div class="jugador">
          <div class="foto">
            <img src="http://img.bleacherreport.net/img/images/photos/002/521/094/hi-res-170733062-kobe-bryant-of-the-los-angeles-lakers-looks-on-during-a_crop_exact.jpg?w=1500&h=1500&q=85" alt="">
            <h5>24</h5>
            <h4>ESCOLTA</h4>
          </div>
          <h2>Kobe Bryant</h2>
        </div>
        <div class="jugador">
          <div class="foto">
            <img src="http://img.bleacherreport.net/img/images/photos/002/521/094/hi-res-170733062-kobe-bryant-of-the-los-angeles-lakers-looks-on-during-a_crop_exact.jpg?w=1500&h=1500&q=85" alt="">
            <h5>24</h5>
            <h4>ESCOLTA</h4>
          </div>
          <h2>Kobe Bryant</h2>
        </div>
        <div class="jugador">
          <div class="foto">
            <img src="http://img.bleacherreport.net/img/images/photos/002/521/094/hi-res-170733062-kobe-bryant-of-the-los-angeles-lakers-looks-on-during-a_crop_exact.jpg?w=1500&h=1500&q=85" alt="">
            <h5>24</h5>
            <h4>ESCOLTA</h4>
          </div>
          <h2>Kobe Bryant</h2>
        </div>
      </div>
      <div class="titulo">
        <div class="h1">
          <h1>SUPLENTES</h1>
        </div>
      </div>
      <div class="jugadores">
        <div class="jugador">
          <div class="foto">
            <img src="http://img.bleacherreport.net/img/images/photos/002/521/094/hi-res-170733062-kobe-bryant-of-the-los-angeles-lakers-looks-on-during-a_crop_exact.jpg?w=1500&h=1500&q=85" alt="">
            <h5>24</h5>
            <h4>ESCOLTA</h4>
          </div>
          <h2>Kobe Bryant</h2>
        </div>
        <div class="jugador">
          <div class="foto">
            <img src="http://img.bleacherreport.net/img/images/photos/002/521/094/hi-res-170733062-kobe-bryant-of-the-los-angeles-lakers-looks-on-during-a_crop_exact.jpg?w=1500&h=1500&q=85" alt="">
            <h5>24</h5>
            <h4>ESCOLTA</h4>
          </div>
          <h2>Kobe Bryant</h2>
        </div>
        <div class="jugador">
          <div class="foto">
            <img src="http://img.bleacherreport.net/img/images/photos/002/521/094/hi-res-170733062-kobe-bryant-of-the-los-angeles-lakers-looks-on-during-a_crop_exact.jpg?w=1500&h=1500&q=85" alt="">
            <h5>24</h5>
            <h4>ESCOLTA</h4>
          </div>
          <h2>Kobe Bryant</h2>
        </div>
      </div>
    </div>
  </div>
</ion-content>
