<ion-header>
  <ion-toolbar>
    <ion-title>Cancha</ion-title>
    <ion-button *ngIf="futbol" (click)="onBasquet()">
      Basquet
    </ion-button>
    <ion-button *ngIf="basket" (click)="onFutbol()">
      Futbol
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <center>

  <ion-item id="marcador">
  <ion-label>HOME</ion-label>
  <ion-item>
  <ion-label name="HomeScore" #HomeScore>0</ion-label>
  </ion-item>
  <ion-label>AWAY</ion-label>
  <ion-item>
    <ion-label name="AwayScore">0</ion-label>
    </ion-item>
  </ion-item>
</center>


  <div class="container">
      <center>
        <img *ngIf="futbol" class="imagen" src="assets/img/footballcourt.jpg">
        <img *ngIf="basket" class="imagen" src="assets/img/basketcourt.jpg">
        </center>


      </div>
      <ion-item>
        <center>
          <ion-button id = "BotonFalta" color= "success" (click)="onClickGol(HomeScore)">
            + Gol
          </ion-button>
          <ion-button id = "BotonFalta" color= "danger" (click)="presentModalAgregarFalta()">
          + Falta
        </ion-button>
        <ion-button id = "BotonFalta" color= "success" (click)="onClickGol(AwayScore)">
          + Gol
        </ion-button>
        </center>
        </ion-item>
      <div>
        
      </div>
      <div>

      </div>


</ion-content>
