
<ion-header class="main-header">
  <ion-toolbar>
    <ion-item>
    <ion-label>¿Eliminar este Deporte?</ion-label>
    </ion-item>
    <ion-button slot="end" size="small" (click)="dismiss()" color="danger">
      X
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
    <ion-button (click)="eliminarDeporte()" color="danger">
      Si
    </ion-button>
    </ion-item>
    <ion-item>
    <ion-button (click)="dismiss()">
      No    
    </ion-button>
    </ion-item>
    </ion-list>
</ion-content>