<ion-header class="main-header">
  <ion-toolbar>
    <ion-item>
    <ion-title>Crear Deporte</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content id="contenido" class="main-content">
  <form>
    <ion-item>
  <ion-input id="nombreDeporte" #nombreDeporte required="true" required type="text" placeholder="Nombra tu deporte"></ion-input>
</ion-item>
<ion-item>
  <ion-input id="cantEquipos" #cantEquipos type="number" required placeholder="Cantidad de Equipos"></ion-input>
</ion-item>
<ion-item>
  <ion-input id="cantParticipantes" #cantParticipantes type="number" required placeholder="Cantidad de Participantes"></ion-input>
</ion-item>
<ion-item>
  <ion-input type="text" placeholder="Estadisticas a Registrar"></ion-input>
</ion-item>
  <ion-button *ngIf="modificar==false" type=submit (click)="crearDeporte(nombreDeporte, cantEquipos, cantParticipantes)"  color="success">Crear</ion-button>
  </form>
  <ion-button *ngIf="modificar" (click)="modificarDeporte( idDocumentoModificar ,nombreDeporte, cantEquipos, cantParticipantes)" type=submit id="botonGuardar" size="small">Guardar</ion-button>
  <ion-item>
    <ion-title>Deportes</ion-title>
    </ion-item>
<ion-list>
  
  <ion-item *ngFor="let deporte of DeportesList; let i = index">
  <ion-label>
     <h3>{{deporte.nombreDeporte}}</h3>
 
    
           
      <p>Equipos {{deporte.cantEquipos}} |  {{deporte.cantParticipantes}} </p>
    </ion-label>
  
  
    
    
    
  <ion-button id="boton-eliminar" color="danger" (click)="presentModalBorrar(deporte.nombreDeporte)" size="small">
  X
  </ion-button>
  
  <ion-button (click)="onEditar(deporte.nombreDeporte,deporte.nombreDeporte,deporte.cantEquipos,deporte.cantParticipantes)" size="small">
    Editar
  </ion-button>
  
  </ion-item>
</ion-list>
</ion-content>