<ion-header class="main-header">
  <ion-toolbar>
    <ion-title>Crear Deporte</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content id="contenido" class="main-content">
  <form>
    <ion-item>
  <ion-input id="nombreDeporte" #nombreDeporte required="true" required type="text" placeholder="Nombra tu deporte"></ion-input>
</ion-item>
<ion-item>
  <ion-input id="cantEquipos" #cantEquipos type="number" required placeholder="Cantidad de Equipos"></ion-input>
</ion-item>
<ion-item>
  <ion-input id="cantParticipantes" #cantParticipantes type="number" required placeholder="Cantidad de Participantes"></ion-input>
</ion-item>
<ion-item>
  <ion-input type="text" placeholder="Estadisticas a Registrar"></ion-input>
</ion-item>
  <ion-button *ngIf="modificar==false" type=submit (click)="crearDeporte(nombreDeporte, cantEquipos, cantParticipantes)" size="small" >Crear</ion-button>
  </form>
  <ion-button *ngIf="modificar" (click)="modificarDeporte( idDocumentoModificar ,nombreDeporte, cantEquipos, cantParticipantes)" type=submit id="botonGuardar" size="small">Guardar</ion-button>
<ion-label>Mis Deportes</ion-label>
<ion-grid id="tabla">
  <ion-row>
  <ion-col>
  <div>
    Nombre
  </div>
</ion-col>
<ion-col>
  <div>
    Cantidad Equipos
  </div>
</ion-col>
<ion-col>
  <div>
    Cantidad de Participantes
  </div>
</ion-col>
<ion-col>
  <div>
    Opciones
  </div>
</ion-col>
</ion-row>
  <ion-row *ngFor="let deporte of DeportesList; let i = index">
    <ion-col>
      {{deporte.nombreDeporte}}
    </ion-col>
    <ion-col>
           
      {{deporte.cantEquipos}}
    
  </ion-col>
  <ion-col>
    
      {{deporte.cantParticipantes}}
    
  </ion-col>
  <ion-col>
  <ion-button id="boton-eliminar" (click)="presentModalBorrar()" size="small">
  Eliminar
  </ion-button>
  
  <ion-button (click)="onEditar(deporte.nombreDeporte,deporte.nombreDeporte)" size="small">
    Editar
  </ion-button>
  </ion-col>
  </ion-row>
</ion-grid>
</ion-content>