<ion-header class="main-header">
  <ion-toolbar>
    <ion-item>

    <ion-title>Crear Deporte</ion-title>

    </ion-item>

    <ion-icon routerLink="/home" slot="start" name="arrow-back-outline"></ion-icon>


  </ion-toolbar>
</ion-header>
<ion-content id="contenido" class="main-content">
  <form>
    <ion-item>
  <ion-input id="nombreDeporte" #nombreDeporte  required="true" type="text" placeholder="Nombra tu deporte"></ion-input>
</ion-item>
<ion-item>
  <ion-input id="cantEquipos" #cantEquipos type="number" required="true" placeholder="Cantidad de Equipos" min="1"></ion-input>
</ion-item>
<ion-item>
  <ion-input id="cantParticipantes" #cantParticipantes type="number" required="true" placeholder="Cantidad de Participantes" min="1"></ion-input>
</ion-item>

  <ion-title>Estadísticas a Registrar</ion-title>
  <ion-list>
    <ion-item *ngFor="let entry of formEstadisticas">
      <ion-label>{{entry.val}}</ion-label>
      <ion-checkbox slot="end" color="success" [(ngModel)]="entry.isChecked" name="entry.val"></ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-title>Posiciones</ion-title>
  <ion-item>
  <ion-input type="text" placeholder="Nombre de la posición" [(ngModel)]="posicionName" name="posicioninput" >
  </ion-input>
  <ion-button (click)="agregarPosicion()">+</ion-button>
  </ion-item>
 
  <ion-list>
    <ion-item *ngFor="let posicion of Posiciones">
      <ion-label>
        {{posicion}}
      </ion-label>
      <ion-button color="danger" size="small" (click)="eliminarPosicion(posicion)">X</ion-button>
    </ion-item>
  </ion-list>
  <center>
  <ion-button  type=submit (click)="crearDeporte(nombreDeporte, cantEquipos, cantParticipantes)"  color="success" size="large">Crear</ion-button>
</center>
</form>
  <ion-button *ngIf="modificar" (click)="modificarDeporte( idDocumentoModificar ,nombreDeporte, cantEquipos, cantParticipantes)" type=submit id="botonGuardar" size="small">Guardar</ion-button>

  <ion-item>
    <ion-title>Deportes</ion-title>
    </ion-item>
<ion-list>
  <ion-item *ngFor="let deporte of DeportesList; let i = index">
  <ion-label>
     <h3>{{deporte.nombreDeporte}}</h3>
      <p>Equipos {{deporte.cantEquipos}} |  {{deporte.cantParticipantes}} </p>
    </ion-label>

    
  <ion-button id="boton-eliminar" color="danger" (click)="presentModalBorrar(deporte.nombreDeporte)" size="small">
  X
  </ion-button>
  
  <ion-button (click)="onEditar(deporte.nombreDeporte,deporte.nombreDeporte,deporte.cantEquipos,deporte.cantParticipantes)" size="small">
    Editar
  </ion-button>
  
  </ion-item>
</ion-list>
</ion-content>