<ion-header>
  <ion-toolbar>
    <ion-item>
      <ion-title>Agregar Jugadores</ion-title>
    </ion-item>
    <ion-button slot="end" size="small"(click)="dismiss()" color="danger">
      X
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="list">
    <ion-item class="form">
      <ion-label class="tit">Nombre</ion-label>
      <ion-input type="text" #nombre placeholder="Juan"></ion-input>
    </ion-item>
    <ion-item class="form"> 
      <ion-label class="tit">Apellido</ion-label>
      <ion-input type="text" #apellido placeholder="Martinez"></ion-input>
    </ion-item>
    <ion-item class="form">
      <ion-label class="tit">N° Camiseta</ion-label>
      <ion-input type="number" min="1" max="99" #nCamiseta placeholder="32"></ion-input>
    </ion-item>
    <ion-item class="form">
      <ion-label class="tit">Nacimiento</ion-label>
      <ion-datetime #nacimiento min="1900" max="2015"
        displayFormat="DDD. MMM DD, YY"
        monthShortNames="Jan, Feb, Mar, Apr, Mai, Jun, Jul, Aug, Sep, Oct, Nov, Dec"></ion-datetime>
    </ion-item>
    <ion-item class="form">
      <ion-label class="tit">Peso (Kg)</ion-label>
      <ion-input type="number" min="1" max="650" #peso placeholder="64 (64 Kg)"></ion-input>
    </ion-item>
    <ion-item class="form">
      <ion-label class="tit">Altura (Cm)</ion-label>
      <ion-input type="number" min="1" #altura placeholder="175 (1.75m)"></ion-input>
    </ion-item>
    <ion-item class="form">
      <ion-label class="tit">Posicion</ion-label>
      <ion-input type="text"#posicion placeholder="Base, Alero, Arquero, Defensa"></ion-input>
    </ion-item>
    <ion-item class="form">
      <ion-label class="tit">Equipos</ion-label>
      <ion-select #equipo multiple="true" [compareWith]="compareWith" placeholder="Opcional" ngDefaultControl [(ngModel)]="equiposSelec" (ionChange)="cambio();">
        <ion-select-option *ngFor="let equipo of equipos" [value]=equipo>{{equipo.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button (click)="agregarJugador(nombre, apellido, nCamiseta, nacimiento , peso, altura, posicion)" class="button button-block button-possitive">Agregar</ion-button>
  </div>
</ion-content>