<ion-header class="main-header">
  <ion-toolbar>
    <ion-title>Registrate</ion-title>
    <ion-button slot="end" (click)="dismiss()">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content class="main-content">
  <div>
    <div>
      <ion-text>¡Bienvenido a la App de estadísticas!</ion-text>
      <div>
        <ion-text>Elige el tipo de usuario</ion-text>
        <ion-segment (ionChange)="segmentChanged($event)" [value]=userType>
          <ion-segment-button value=false>
            <div>            
              <ion-icon name="globe"></ion-icon>
              <!--<fa-icon [icon]="['fas', 'shield-at']"></fa-icon>--> <!--No anda por el import, el tema es que no tengo un module para importar-->
              <ion-label>Club</ion-label>
            </div>
          </ion-segment-button>
          <ion-segment-button value=true>
            <div>
              <ion-icon name="globe"></ion-icon>
              <fa-icon [icon]="['fas', 'user-tie']"></fa-icon>
              <ion-label>Entrenador</ion-label>
            </div>
          </ion-segment-button>
        </ion-segment>
        <ion-list id="entrenador" *ngIf="userType">
          <ion-item>
            <ion-label position="default">Nombre:</ion-label>
            <ion-input type="text" [(ngModel)]="inputEmail"  placeholder="Juan"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="default">Apellido:</ion-label>
            <ion-input type="text" [(ngModel)]="inputEmail"  placeholder="Russo"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Nacimiento</ion-label>
            <ion-datetime min="1900-02" max="2006"
              [dayShortNames]="customDayShortNames"
              displayFormat="DDD. MMM DD, YY"
              monthShortNames="Jan, Feb, Mar, Apr, Mai, Jun, Jul, Aug, Sep, Oct, Nov, Dec"></ion-datetime>
          </ion-item>
        </ion-list>
        <ion-list id="club" *ngIf="!userType">
          <ion-item>
            <ion-label position="default">Nombre:</ion-label>
            <ion-input type="text" [(ngModel)]="inputEmail"  placeholder="Juan"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="default">Deporte:</ion-label>
            <ion-select cancelText="Dismiss">
              <ion-select-option value="brown">Crear deporte</ion-select-option>
              <ion-select-option value="blonde">Fútbol</ion-select-option>
              <ion-select-option value="black">Basquet</ion-select-option>
              <ion-select-option value="red">Hockey</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </div>
    </div>
    <ion-list>
      <ion-item>
        <ion-label position="default">Nombre:</ion-label>
        <ion-input type="text" [(ngModel)]="inputEmail"  placeholder="Juan"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="default">Apellido:</ion-label>
        <ion-input type="text" [(ngModel)]="inputEmail"  placeholder="Russo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Nacimiento</ion-label>
        <ion-datetime min="1900-02" max="2006"
          [dayShortNames]="customDayShortNames"
          displayFormat="DDD. MMM DD, YY"
          monthShortNames="Jan, Feb, Mar, Apr, Mai, Jun, Jul, Aug, Sep, Oct, Nov, Dec"></ion-datetime>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-label position="default">Email:</ion-label>
        <ion-input type="email" [(ngModel)]="inputEmail"  placeholder="appest@gmail.com"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="default">Password:</ion-label>
        <ion-input type="Password" [(ngModel)]="inputPassword"></ion-input>
      </ion-item>
      <ion-text [hidden]="invalid">El email o la contraseña son invalidos. Reingresa los datos</ion-text>
    </ion-list>
  </div>
</ion-content>
