<ion-header class="main-header">
  <ion-toolbar>
    <ion-title>Registrate</ion-title>
    <ion-button slot="end" (click)="dismiss()">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content class="main-content">
  <ion-list>
    <ion-button>
      <ion-item>
        <ion-label>Facebook</ion-label>
        <ion-icon slot="start" name="logo-facebook"></ion-icon>      
      </ion-item>
    </ion-button>
    <ion-button>
      <ion-item>
        <ion-label>Google</ion-label>
        <ion-icon slot="start" name="logo-google"></ion-icon>      
      </ion-item>
    </ion-button>
    <ion-button>
      <ion-item (click)="openMenu('emailSign')">
        <ion-label>Mail</ion-label>
        <ion-icon slot="start" name="mail-unread-outline"></ion-icon>      
      </ion-item>
    </ion-button>
  </ion-list>
  <div class="cambiar">
    <ion-text>¿Ya tienes una cuenta?</ion-text>
    <ion-text color="primary">Inicia Sesión</ion-text>
  </div>
</ion-content>

<ion-menu side="start" max-edge-start=50 class="menu" menuId="emailSign" contentId="main">
  <ion-header>
    <ion-item>
      <ion-icon (click)="openMenu('emailSign')" slot="start" name="arrow-back-outline"></ion-icon>
      <ion-title>Registrate</ion-title>
    </ion-item>
  </ion-header>
  <ion-content>
    <div>
      <ion-list>
        <ion-item>
          <ion-label position="default">Nombre:</ion-label>
          <ion-input type="text" [(ngModel)]="inputEmail"  placeholder="Juan"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="default">Apellido:</ion-label>
          <ion-input type="text" [(ngModel)]="inputEmail"  placeholder="Russo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Nacimiento:</ion-label>
          <ion-datetime displayFormat="MMMM" value="2012-12-15T13:47:20.789"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label position="default">Email:</ion-label>
          <ion-input type="email" [(ngModel)]="inputEmail"  placeholder="appest@gmail.com"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="default">Password:</ion-label>
          <ion-input type="Password" [(ngModel)]="inputPassword"></ion-input>
        </ion-item>
        <ion-text [hidden]="invalid" >El email o la contraseña son invalidos. Reingresa los datos</ion-text>
      </ion-list>
      <ion-button color="primary" (click)="checkFormSignIn()">Sign in</ion-button>
      <ion-text class="text">¿Olvidaste tu contraseña?</ion-text>
    </div>
  </ion-content>
</ion-menu>