.main-header ion-title{
    text-align: center;
}

.main-header ion-button{
    position: absolute;
    right: 2%;
    --background: transparent;
    --box-shadow: 0;
}

.entr{
    margin: auto;
    width: fit-content;
    display: block;

}