<ion-header class="main-header">
  <ion-toolbar>
    <ion-title>Añadir al Club</ion-title>
    <ion-buttons slot="end">
      <ion-button slot="end" routerLink="/more">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="presentPopover($event)" class="entr" fill="clear">
    <ion-label>Entrenadores</ion-label>
    <ion-icon name="chevron-down-outline"></ion-icon>
  </ion-button>
  <div class="linea"></div>
    <ion-label id="names" *ngIf="entrenador != null">{{entrenador.nombre}}</ion-label>
  <div class="linea1"></div>
  <ion-row>
    <ion-col>
      <ion-button (click)="agregarEntrendorClub()" routerLink="/more" expand="block">Agregar Entrenador</ion-button>
    </ion-col>
  </ion-row>
  

</ion-content>
