<ion-header>
  <ion-toolbar>
    <ion-item>
     <ion-title>Partidos</ion-title>
     <ion-icon routerLink="/home" slot="start" name="arrow-back-outline"></ion-icon>
    </ion-item> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card2" routerLink="/partido/cancha">
    <ion-item>
      <ion-img src="./assets/equipo.png"></ion-img>
    </ion-item>
    <ion-card-header>
      <ion-button>
        <ion-icon name="arrow-forward-outline"></ion-icon>      
      </ion-button>
      <ion-card-title style="color:  	 	 	#00FFFF;">
        Comenzar partido
      </ion-card-title>
    </ion-card-header>
    <ion-card-content style="color:  	 	 	#FFFFFF;">
      Comienza el partido previamente creado y con el equipo seleccionado.
    </ion-card-content>
  </ion-card>
  <ion-card class="card2" routerLink="../../crear-partido">
    <ion-item>
      <ion-img src="./assets/equipo.png"></ion-img>
    </ion-item>
    <ion-card-header>
      <ion-button>
        <ion-icon name="arrow-forward-outline"></ion-icon>      
      </ion-button>
      <ion-card-title style="color:  	 	 	#00FFFF;">Crear partido</ion-card-title>
    </ion-card-header>
    <ion-card-content style="color:  	 	 	#FFFFFF;">
      Crea el partido para tu equipo.
    </ion-card-content>
  </ion-card>
  <ion-card class="card2" routerLink="/partidos/patido-home">
    <ion-item>
      <ion-img src="./assets/equipo.png"></ion-img>
    </ion-item>
    <ion-card-header>
      <ion-button>
        <ion-icon name="arrow-forward-outline"></ion-icon>      
      </ion-button>
      <ion-card-title style="color:  	 	 	#00FFFF;">Borrar o editar partidos </ion-card-title>
    </ion-card-header>
    <ion-card-content style="color:  	 	 	#FFFFFF;">
       Borra y edita los partidos existentes.
    </ion-card-content>
  </ion-card>
</ion-content>
