<ion-header>
  <ion-toolbar>
    <ion-title>Partidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card2" routerLink="/partidos/patido-home">
    <ion-item>
      <ion-img src="./assets/equipo.png"></ion-img>
    </ion-item>
    <ion-card-header>
      <ion-button>
        <ion-icon name="arrow-forward-outline"></ion-icon>      
      </ion-button>
      <ion-card-title color="primary">Comenzar partido</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Consulta las estadísticas de tus jugadores. También puedes agregar nuevos, borrarlos y editarlos.
    </ion-card-content>
  </ion-card>
  <ion-card class="card2" routerLink="../../crear-partido">
    <ion-item>
      <ion-img src="./assets/equipo.png"></ion-img>
    </ion-item>
    <ion-card-header>
      <ion-button>
        <ion-icon name="arrow-forward-outline"></ion-icon>      
      </ion-button>
      <ion-card-title color="primary">Crear partido</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Consulta las estadísticas de tus jugadores. También puedes agregar nuevos, borrarlos y editarlos.
    </ion-card-content>
  </ion-card>
  <ion-card class="card2" routerLink="/partidos/patido-home">
    <ion-item>
      <ion-img src="./assets/equipo.png"></ion-img>
    </ion-item>
    <ion-card-header>
      <ion-button>
        <ion-icon name="arrow-forward-outline"></ion-icon>      
      </ion-button>
      <ion-card-title color="primary">Borrar o Editar partidos existentes</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Consulta las estadísticas de tus jugadores. También puedes agregar nuevos, borrarlos y editarlos.
    </ion-card-content>
  </ion-card>
</ion-content>
