<ion-header>
  <ion-toolbar>
    <ion-title>Editar</ion-title>
    <ion-button slot="end" size="small"(click)="dismiss()" color="danger">
      X
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="list">
    <ion-item class="form">
      <ion-label class="tit">Nombre</ion-label>
      <ion-input type="text" #nombre value={{jugador.nombre}}></ion-input>
    </ion-item>
    <ion-item class="form"> 
      <ion-label class="tit">Apellido</ion-label>
      <ion-input type="text" #apellido value={{jugador.apellido}}></ion-input>
    </ion-item>
    <ion-item class="form">
      <ion-label class="tit">N° Camiseta</ion-label>
      <ion-input type="number" maxlenght="2" min="1" max="99" #nCamiseta value={{jugador.nCamiseta}}></ion-input>
    </ion-item>
    <ion-item class="form">
      <ion-label class="tit">Nacimiento</ion-label>
      <ion-datetime value ={{jugador.nacimiento}} #nacimiento min="1900-02" max="2018"
        displayFormat="DDD. MMM DD, YY"
        monthShortNames="Jan, Feb, Mar, Apr, Mai, Jun, Jul, Aug, Sep, Oct, Nov, Dec"></ion-datetime>
    </ion-item>
    <ion-item class="form">
      <ion-label class="tit">Peso (Kg)</ion-label>
      <ion-input type="number" min="1" max="650" #peso value={{jugador.peso}}></ion-input>
    </ion-item>
    <ion-item class="form">
      <ion-label class="tit">Altura (Cm)</ion-label>
      <ion-input type="number" min="1" max="300" #altura value={{jugador.altura}}></ion-input>
    </ion-item>
    <ion-item class="form">
      <ion-label class="tit">Posicion</ion-label>
      <ion-input value = {{jugador.posicion}} type="text" #posicion></ion-input>
    </ion-item>
    <ion-item class="form">
      <ion-label class="tit">Equipos</ion-label>
      <ion-select #equipo multiple="true" [compareWith]="compareWith" placeholder="Opcional" ngDefaultControl [(ngModel)]="equiposSelec" (ionChange)="cambio();">
        <ion-select-option *ngFor="let equipo of equipos" [value]=equipo>{{equipo}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button (click)="editar(nombre, apellido, nCamiseta, nacimiento , peso, altura, posicion)" class="button button-block button-possitive">Confirmar</ion-button>
  </div>
</ion-content>

