ion-title {
    padding: 0;
    text-align: center;
}

ion-toolbar ion-item ion-icon{
    position: absolute;
    z-index: 2;
}

ion-header div{
    width: 100%;
    margin-top: 8%;
    margin-bottom: 5%;
    display: flex;
}

ion-header div ion-button{
    padding: 10;
    margin: auto;
    width: 30%;
}

.seat.selected {
    background-color: rgb(55, 160, 55);
  }
  
.seat.occupied {
background-color: rgb(163, 29, 29);
}