<ion-header>
  <IonToolbar>
    <div>
      <ion-button (click)="clickTitular()">Titular</ion-button>
      <ion-button (click)="clickTitular()">Suplente</ion-button>
    </div>
  </IonToolbar>
</ion-header>
<ion-content>
  <ion-list>
    <div class="jugador" *ngFor="let jugador of jugadores" id="{{jugador.id}}" (click)="seleccionarJugador(jugador.id)">
      <div class="dot" [ngClass]="{'dotSuplente': jugadoresSuplentes.includes(jugador.id), 'dotTitular':jugadoresTitulares.includes(jugador.id)}"></div>
      <ion-item class="data">
        <ion-avatar slot="end"><img src="{{jugador.img}}"></ion-avatar>
        <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
          <h2>{{jugador.jugador.nombre}} {{jugador.jugador.apellido}}</h2>
          <p> {{jugador.jugador.nCamiseta}} | {{jugador.jugador.posicion}}</p>
        </ion-label> 
      </ion-item>
    </div>
    <!--<ion-item>
      <ion-avatar slot="end"><img src="https://imagenes.milenio.com/exTGQWQpuj4omAbbtEhEDv6vvaY=/958x596/smart/https://www.milenio.com/uploads/media/2021/05/16/stephen-curry-reuters-2_0_23_1024_637.JPG"></ion-avatar>
      <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
        <h2>Stephen Curry</h2>
        <p> 30 | Base</p>
      </ion-label>
      
    </ion-item>

    <ion-item class="jugador" *ngFor="let jugador of jugadores" id="{{jugador.id}}" (click)="clickJugador(jugador)" [ngClass]="{'occupied': !butacasDisponibles.includes(butaca), 'selected': butacasSeleccionadas.includes(butaca)}">
      <ion-avatar slot="end"><img src="https://www.mundodeportivo.com/r/GODO/MD/p8/Baloncesto/Imagenes/2021/05/13/Recortada/img_cvila_20201106-185537_imagenes_md_otras_fuentes_no_archivables_lebron-kRKH-U493740258841Q4-980x554@MundoDeportivo-Web.jpg"></ion-avatar>
      <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
        <h2>Lebron James</h2>
        <p> 23 | Alero</p>
      </ion-label>
    </ion-item>-->
  </ion-list>

  <ion-fab-button (click)="dismiss()" horizontal="end" slot="fixed" color="danger" class="ion-color ion-color-danger ios ion-activatable ion-focusable hydrated">
    <ion-icon name="checkmark-outline"></ion-icon>  </ion-fab-button>        
</ion-content>
