#pic {
    margin-left: 6%;
    margin-top: 6%;
    display:inline-block
}

#nombre {
    margin-left: 25%;
    margin-top: -17%;
    text-align: center;
    display: block;    
}

.div{
    background-color: #009c29;
}

#btn{
    padding-top: 5%;
}

.linea {
    border-top: 2px solid #009c29;
    height: 2px;
    max-width: 200px;
    padding: 0;
    margin: 40px auto 0 auto;
  }