<ion-content scrollY=false>
  <ion-content>
    <center>
      <ion-item id="marcador">
        <ion-label>HOME: {{homeScore}}</ion-label>
        <ion-label>AWAY: {{awayScore}}</ion-label>
      </ion-item>
    </center>
    <ion-button (click)="timerService.startTimer(90, this.timerService.timer)"> comenzar </ion-button>
    <ion-button (click)="timerService.stop()"> detener </ion-button>
    <h1>{{timerService.time | async}}</h1>  
    <ion-button (click)="timerService.cambiarPos()"> cambiar posesion</ion-button>
    <h1>POSESION LOCAL: %{{posesionH()}}    POSESION VISITANTE: %{{posesionA()}}</h1>
    <div class="container">
      <center>
        <div class="cont" id="cont">
          <img id="cancha" usemap="#workmap" class="imagen" src="assets/img/footballcourt.jpg">
          <map *ngIf="refresh" name="workmap">
            <area (click)="presentModalAcciones(width*((i-1)/10), height*((1-1)/10), width*(i/10), height*(1/10), i, 1)" shape="rect" coords="{{width*((i-1)/10)}},{{height*((1-1)/10)}},{{width*(i/10)}},{{height*(1/10)}}" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
            <area (click)="presentModalAcciones(width*((i-2)/10), height*((2-1)/10), width*(i/10), height*(2/10), i, 2)" shape="rect" coords="{{width*((i-1)/10)}},{{height*((2-1)/10)}},{{width*(i/10)}},{{height*(2/10)}}" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
            <area (click)="presentModalAcciones(width*((i-3)/10), height*((3-1)/10), width*(i/10), height*(3/10), i, 3)" shape="rect" coords="{{width*((i-1)/10)}},{{height*((3-1)/10)}},{{width*(i/10)}},{{height*(3/10)}}" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
            <area (click)="presentModalAcciones(width*((i-4)/10), height*((4-1)/10), width*(i/10), height*(4/10), i, 4)" shape="rect" coords="{{width*((i-1)/10)}},{{height*((4-1)/10)}},{{width*(i/10)}},{{height*(4/10)}}" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
            <area (click)="presentModalAcciones(width*((i-5)/10), height*((5-1)/10), width*(i/10), height*(5/10), i, 5)" shape="rect" coords="{{width*((i-1)/10)}},{{height*((5-1)/10)}},{{width*(i/10)}},{{height*(5/10)}}" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
            <area (click)="presentModalAcciones(width*((i-6)/10), height*((6-1)/10), width*(i/10), height*(6/10), i, 6)" shape="rect" coords="{{width*((i-1)/10)}},{{height*((6-1)/10)}},{{width*(i/10)}},{{height*(6/10)}}" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
            <area (click)="presentModalAcciones(width*((i-7)/10), height*((7-1)/10), width*(i/10), height*(7/10), i, 7)" shape="rect" coords="{{width*((i-1)/10)}},{{height*((7-1)/10)}},{{width*(i/10)}},{{height*(7/10)}}" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
            <area (click)="presentModalAcciones(width*((i-8)/10), height*((8-1)/10), width*(i/10), height*(8/10), i, 8)" shape="rect" coords="{{width*((i-1)/10)}},{{height*((8-1)/10)}},{{width*(i/10)}},{{height*(8/10)}}" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
            <area (click)="presentModalAcciones(width*((i-9)/10), height*((9-1)/10), width*(i/10), height*(9/10), i, 9)" shape="rect" coords="{{width*((i-1)/10)}},{{height*((9-1)/10)}},{{width*(i/10)}},{{height*(9/10)}}" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
            <area (click)="presentModalAcciones(width*((i-10)/10), height*((10-1)/10), width*(i/10), height*(10/10),i, 10)" shape="rect" coords="{{width*((i-1)/10)}},{{height*((10-1)/10)}},{{width*(i/10)}},{{height*(10/10)}}" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
          </map>
        </div>
      </center>
    </div>
  </ion-content>    
  <app-drawer (openStateChanged)="toggleBackdrop($event)" [titulares]="titulares" [suplentes]="suplentes" #drawer></app-drawer>
</ion-content>