<ion-header class="main-header">
  <ion-toolbar>
    <ion-item>
    <ion-title>Modificar Deporte
    </ion-title>
    </ion-item>
    <ion-button slot="end" size="small"(click)="dismiss()" color="danger">
      X
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form>
    <ion-item> 
  <ion-input value = {{nombreDeporte}} id="nombreDeporte" #nombreDeporteNuevo required="true" required type="text" placeholder="Nombra tu deporte"></ion-input>
</ion-item>
<ion-item>
  <ion-input value = {{cantEquipos}}  id="cantEquipos" #cantEquiposNuevo type="number" required placeholder="Cantidad de Equipos" min="1"></ion-input>
</ion-item>
<ion-item>
  <ion-input value = {{cantParticipantes}} id="cantParticipantes" #cantParticipantesNuevo type="number" required placeholder="Cantidad de Participantes" min="1"></ion-input>
</ion-item>

<ion-title>Estadisticas a Registrar</ion-title>
<ion-list>
  <ion-item *ngFor="let entry of form">
    <ion-label>{{entry.val}}</ion-label>
    <ion-checkbox slot="end" color="success"  [(ngModel)]="entry.isChecked" name="entry.val"></ion-checkbox>
  </ion-item>
</ion-list>

<center>
  <ion-button (click)="modificarDeporte(id , nombreDeporteNuevo, cantEquiposNuevo, cantParticipantesNuevo)" color="success">Guardar</ion-button>
</center>
  </form>
</ion-content>