.main-header ion-title{
    text-align: center;
}

.main-header ion-button{
    position: absolute;
    right: 2%;
    --background: transparent;
    --box-shadow: 0;
}

.main-header ion-icon{
    width: 15px;
    height: 15px;
    color: black;
}

.main-content ion-list{
    padding: 5%;
    width: 92%;
    display: block;
    margin: auto;
    margin-top: 5%;
}

.main-content ion-list ion-button{
    width: 100%;
    margin-top: 8%;
    --background: white;
    --border-radius: 20px;
}

.main-content ion-list ion-button ion-item{
    width: 100%;
    color: #757575;
}

.main-content ion-list ion-button ion-item ion-icon{
    width: 20px;
}

.main-content ion-list ion-button ion-item ion-label{
    font-weight: 600;
    letter-spacing: 1px;
}

.cambiar{
    text-align: center;
    font-size: 15px;
    display: grid;
    margin-top: 8%;
    margin-left: 8%;
}

ion-menu {
    --min-width: 100%;
}

ion-menu ion-header ion-item{
    position: relative;
    padding: 3%;
    --border-color: white;
}

ion-menu ion-header ion-icon{
    position: absolute;
    z-index: 2;
}

ion-menu ion-header ion-title{
    text-align: center;
}

ion-menu ion-content div{
    width: 90%;
    padding: 5% !important;
    display: block;
    height: 100%;
    position: relative;
    margin: auto !important;
}

ion-menu ion-content ion-list{
    width: 100%;
    margin-top: 5%;
    border-radius: 12px;
}

ion-menu ion-button{
    margin-top: 5%;
    width: 100%;
}

ion-menu ion-content .text{
    right: 5%;
    color: grey;
    position: absolute;
    font-size: 12px;
}

ion-menu ion-content ion-list ion-text{
    color: red;
    margin-top: 2%;
    font-size: 10px;
    text-align: left;
}


