<ion-app>
  <ion-router-outlet id="main"></ion-router-outlet>  
  <ion-tabs #myTabBar id="myTabBar" *ngIf="(authService.user$ | async) && tieneEquipo">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="calendar">
        <ion-icon name="calendar-outline"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="more">
        <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <ion-menu side="end" max-edge-start=50 class="menu" menuId="equiposMenu" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Start Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink="/loading">Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
</ion-app>
