<ion-header>
  <ion-toolbar>
    <ion-item>
      <ion-icon routerLink="/home" slot="start" name="arrow-back-outline"></ion-icon>
      <ion-title>Equipo</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card id="viewRoster" routerLink="/jugadores" class="cards">
    <ion-img src="./assets/3p.png"></ion-img>
    <ion-card-header style="display: flex;">
      <ion-item>  
        <ion-label style="color:  	 	 	#FFFFFF;">
          Ver Jugadores
        </ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
    </ion-card-header>
    <ion-card-content style="color:  	 	 	#FFFFFF;">
      Aqui puedes ver, editar y borrar todos los jugadores de su equipo
    </ion-card-content>
  </ion-card>

  <!--ion-card id="addPlayers" routerLink="/jugadores-agregar" class="cards">
    <ion-img src="./assets/jugador.jpeg"></ion-img>
    <ion-card-header style="display: flex;">
      <ion-item>
        <ion-label style="color:  	 	 	#FFFFFF;">
          Agregar Jugadores
        </ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      Aqui puede agregar jugadores a la plantilla
    </ion-card-content>
  </ion-card-->
  
  <ion-card class="card2" routerLink="/detalles-del-equipo">
    <ion-item>
      <ion-img src="./assets/equipo.png"></ion-img>
    </ion-item>
    <ion-card-header>
      <ion-button>
        <ion-icon name="arrow-forward-outline"></ion-icon>      
      </ion-button>
      <ion-card-title style="color:  	 	 	#00FFFF;">
        Detalles del equipo
      </ion-card-title>
    </ion-card-header>
    <ion-card-content style="color:  	 	 	#FFFFFF;">
      Consulta las estadísticas generales de tu equipo, los torneos a los que perteneces, partidos viejos, etc. También puedes hacer modificaciones.
    </ion-card-content>
  </ion-card>

</ion-content>
