<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-button (click)="openMenu()" class="equipo" fill="clear">
      <ion-label>Equipo1</ion-label>
      <ion-icon name="chevron-down-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card id="comenzarPartido" class="cards">
    <ion-img src="./assets/deportes.png"></ion-img>
    <ion-card-header style="display: flex;">
      <ion-item>
        <ion-label>Comenzar partido</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      Entra aqui si quieres comenzar un partido existe o crear uno nuevo.
    </ion-card-content>
  </ion-card>
  <ion-card id="verJugadores" routerLink="/jugadores" class="cards">
    <ion-img src="./assets/equipo.png"></ion-img>
    <ion-card-header style="display: flex;">
      <ion-item>
        <ion-label>Ver equipo</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      Consulta las estadísticas de tus jugadores. También puedes agregar nuevos, borrarlos y editarlos.
    </ion-card-content>
  </ion-card>
  
  <ion-item *ngFor="let noticia of noticias; let i = index;">
    <h3>Noticias {{ i }} </h3>
  </ion-item>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<!--<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="calendar">
      <ion-icon name="calendar-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="more">
      <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>-->
