<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-button (click)="openMenu()" class="equipo" fill="clear">
      <ion-label>Equipo1</ion-label>
      <ion-icon name="chevron-down-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content></ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="calendar">
      <ion-icon name="calendar-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="more">
      <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>