<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-button (click)="openMenu()" class="equipo" fill="clear">
      <ion-label>Equipo1</ion-label>
      <ion-icon name="chevron-down-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content class="pageBody">
  <ion-card class="card2">
    <ion-item>
      <ion-img src="./assets/equipo.png"></ion-img>
    </ion-item>
    <ion-card-header>
      <ion-button>
        <ion-icon name="arrow-forward-outline"></ion-icon>      
      </ion-button>
      <ion-card-title color="primary">Comenzar partido</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Consulta las estadísticas de tus jugadores. También puedes agregar nuevos, borrarlos y editarlos.
    </ion-card-content>
  </ion-card>

  <ion-card id="verJugadores" routerLink="/jugadores-inicio" class="cards">
    <ion-img src="./assets/equipo.png"></ion-img>
    <ion-card-header style="display: flex;">
      <ion-item>
        <ion-label>Ver equipo</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      Consulta las estadísticas de tus jugadores. También puedes agregar nuevos, borrarlos y editarlos.
    </ion-card-content>
  </ion-card>

  <ion-card id="crearDeporte" routerLink="/crear-deporte" class="cards">
    <ion-img src="./assets/depor.png"></ion-img>
    <ion-card-header style="display: flex;">
      <ion-item>
        <ion-label>Crear Deporte</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      Cree o ingrese un deporte que no predeterminado.
    </ion-card-content>
  </ion-card>
  
  <ion-item *ngFor="let noticia of noticias; let i = index;">
    <h3>Noticias {{ i }} </h3>
  </ion-item>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

