<ion-header class="main-header">
  <ion-toolbar>
    <ion-title>Cuenta</ion-title>
    <ion-buttons slot="end">
      <ion-button slot="end" routerLink="/">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="main-content">
  <ion-row>
    <ion-col>
      <ion-button routerLink="" expand="block">Club</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button expand="block">Entrenador</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
