.cards ion-img{
    position: absolute;
    object-fit: cover;
    filter: blur(3px);
}

.cards ion-card-header{
    padding: 0;
}

.cards ion-item{
    width: 100%;
    height: auto;
    border: none;
    --inner-border-width: 0px;
    --background: transparent;
}

.cards ion-card-content{
    color: white;
}
