<ion-header>
  <ion-toolbar>
    <ion-item>
      <ion-icon routerLink="/jugadores-inicio" slot="start" name="arrow-back-outline"></ion-icon>
      <ion-title>Jugadores</ion-title>
    </ion-item>
  </ion-toolbar>
  <ion-button id="boton-agregar"expand="block" (click)="openModalAgregarJugador()">Agregar</ion-button>

</ion-header>

<ion-content >
  <ion-list>
    <ion-item *ngFor="let jugador of jugadorList; let i = index">
      <ion-avatar slot="end"><img src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png"></ion-avatar>
      <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
        <h2>{{jugador.nombre}} {{jugador.apellido}}</h2>
        <p> {{jugador.nCamiseta}} | {{jugador.posicion}}</p>
      </ion-label>
      <ion-button id="boton-eliminar" (click)="openModalEliminar(jugador.id)" size="small">X</ion-button> <!--Eliminar-->
      <ion-button id="boton-editar" (click)="openModalEditar(jugador,jugador.id)" size="small">E</ion-button> <!--Editar-->
    </ion-item>
  </ion-list>
  </ion-content>